* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */

    font-family: sans-serif;
}

:root {
    --color-dark-gray: #252525;
    --color-gray: #8d9192;
    --color-light-gray: #ededed;
    --color-white: #fff;
    --color-blue: #28809a;
    --color-red: #ba566c;
}

.margin-90 {
    margin: 0 auto;
    width: 90%;
}

.margin-60 {
    margin: 0 auto;
    width: 60%;
}

/* header */
header {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
}

h1 {
    padding: 1rem 0;
}

/* main */
main {
    padding: 2rem 0;
}

li {
    list-style: none;
    padding: 1.5rem;
}

ul {
    padding: 1rem;
    border: 1px solid var(--color-gray);
    border-radius: 1rem;
}

.list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* genre selector */
.genre-selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

select {
    padding: 1rem;
    border: 1px solid var(--color-gray);
    border-radius: 1rem;
}

/* form */
form {
    padding: 2rem 0;
}

h2 {
    padding: 1rem 0;
}

input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--color-gray);
    border-radius: 1rem;
}

.input-flex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

button {
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}

.remove-icon {
    background-color: var(--color-red);
}

.list-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
}